#PostgreSQL Database Configuration
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

#pgAdmin Configuration
PGADMIN_EMAIL=
PGADMIN_PASSWORD=

#Database connection
DATABASE_URL=postgresql+asyncpg://postgres_user:postgres_password@localhost:5432/postgres_db